*{
    margin:0;
    padding:0;
}

#wrapper {
    font-family: "Nunito Sans", serif;
}

/* #header{
} */

#header-top{
    background-color: #000b32;
    color: #fff;
    padding: 10px 0;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .header-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

#header-top-left {
    max-width: 320px;
    width:100%;
    display: flex;
    justify-content: space-between;
    font-size:.95rem;
}

div#country {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}

#country img {
    width: 22px;
    height:14px;
    display: flex;
}

select#language {
    border: none;
    background-color: #ffffff00;
    color: #fff;
    font-size:.95rem;
    font-family: "Nunito Sans", serif;
}

option {
    background-color: #051224;
    font-family: "Nunito Sans", serif;
}

#header-top-right{
    max-width:150px;
    width:100%;
}

.header-top-icon {
    display: flex;
    justify-content: space-between;
    color: #dff0ffb3;
}

.header-top-icon i:hover{
    color: #fff;
}

#header-bottom{
    padding: 18px 0;
    font-weight: 700;
}

#logo img {
    max-width: 120px;
    width: 100%;
}

div#header-bottom-right {
    display: flex;
    justify-content: space-between;
    gap:20px;
    max-width: 860px;
    width: 100%;
}

#navigation-bar{
    max-width:760px;
    width:100%;
}

#navigation-bar>ul {
    display: flex;
    justify-content: space-between;
    position: relative;
}

li{
    list-style-type: none;
    text-transform: uppercase;
}

li, li a{
    text-decoration: none;
    color: #656565dd;
    
}

li a{
    position: relative;
}

a.active {
    color:#050067;;
}

ul.sublinks{
    display: none;
    margin: 2px 0;
}

#navigation-bar>ul>li>a:hover{
    color:#050067
}

#navigation-bar ul li:hover ul.sublinks{
    display: block;
    position: absolute;
    top:20px;
    background-color: #fff;
    width:150px;
    border: 1px solid #dcdcdc7e;
    border-radius: 3px;
    font-size: medium;
    box-sizing: border-box;
    box-shadow: 0 0 10px  #87878784;
    z-index:1;
}

ul.sublinks li a{
    display: block;
    padding: 5px 10px;
    border-radius: 3px;
    border-bottom: 1px solid #dcdcdc7e;
    border-collapse: collapse;
    /* z-index: 10; */
}

ul.sublinks li a:hover{
    background-color:#050067;
    color: #fff;
}

.header-bottom-icon {
    display: flex;
    max-width: 60px;
    width: 100%;
    justify-content: space-between;
    color: #656565dd;
}

.header-bottom-icon div:hover{
    color: #050067;
}

.icon div, .icon i{
    cursor: pointer;
}

#cart{
    position:relative;
}

span.num {
    position: absolute;
    top: -12px;
    left: 10px;
    border-radius: 50%;
    background-color: #050067;
    color: white;
    font-size: 10px;
    font-weight: 700;
    padding: 3px 7px;
}


#navigation-bar>ul>li>a:before {
    content: "/";
    position: absolute;
    right: -30px;
}

li a.active:before{
    color:#656565dd;
}
#navigation-bar ul li a.contact:before{
    content: "";
}

#banner{
    background-image: url("./images/bg13-2.jpg");
    width: 100%;
    height:100vh;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}

.top-content {
    position: absolute;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-content div{
    padding: 12px 0;
    color: #050067;
}

.sm-text p{
    font-size: 1.25rem;
    font-family: "Source Sans 3", serif;
    /* color:#656565dd; */
    letter-spacing: .5px;
}

.lg-text {
    font-size: 2.15rem;
    font-weight: 800;
    /* color: #050067; */
    text-transform: uppercase;
}

.lg-text h2 {
    display: flex;
    flex-direction: column;
}

.lg-text h2 span {
    padding: 3px 0;
    font-weight: 900;
}

input[type="button"] {
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    /* font-size: 1rem; */
    text-transform: uppercase;
    font-weight: 600;
    background-color: #fff;
    color: #050067;
    border:2px solid #fff;
    box-sizing: border-box;
    box-shadow:0 0 5px #8f8f8f98;
    cursor: pointer;
}

input[type="button"]:hover{
    background-color: #ffffffd3;
    border-color:#050067;
    color:#050067;
}

#section-bottom{
    background-color: #001854;
    color:#fff;
}

.bottom-content {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.section-bottom-left {
    width:940;
    /* width:100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first h3{
        border-right: 2px solid #fff;
        max-width: 250px;
        width: 100%;
        font-size: 1.5rem;
        padding-right: 20px;
}

.second p {
    max-width:550px;
    width:100%;
    padding: 0 40px 0;
    font-family: "Source Sans 3", serif;
    color:#ffffff84;
    letter-spacing: .5px;

}

.section-bottom-right input[type="button"]{
    padding: 15px 30px;    
}

.section-bottom-right input[type="button"]:hover{
    background-color: #ffffffeb;
    border-color:#050067;
    color:#050067;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    padding: 80px 0 20px ;
}

.heading h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
}

.heading span{
    color:#c4c4c4dd;
    font-size:1.5rem;
}